<!DOCTYPE html>
<html>
<head>
    <title><StoryEngine></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
</head>
<body>
    <div class="left-column">
        <div id="tree"></div>
    </div>
    <div class="right-column">
        <input type="password" id="openai_api_key" placeholder="openai_api_key"></input>
        <textarea class="text-area-main" id="text-area-main"></textarea>
        <textarea class="text-area-lower" placeholder="rewrite prompt"></textarea>
        <div class="button-container">
            <button class="button" id="generate">Generate</button>
            <button class="button" id="rewrite">Rewrite</button>
            <button class="button" id="reformat">Reformat</button>
            <button class="button" id="reset">Reset</button>
            <button class="button" id="save_api_key">Save API Key</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
    
    <script type="module" src="{{ url_for('static', filename='js/script.mjs') }}">
    </script>
</body>
</html>
